<launch>
  <arg name="camera_frame_id" default="camera_frame_id" />
  <arg name="output" default="log" />
  <node pkg="openni2_tracker" type="openni2_tracker" name="openni2_tracker"
        launch-prefix="runnite2" output="$(arg output)" >
    <param name="camera_frame_id" value="$(arg camera_frame_id)" />
 </node>
</launch>
